<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<ul>
  <li>
    <a routerLink="/tutorials"><button class="btn btn-success pull-right">Tutorials</button></a>
  </li>
</ul>

<nav class="navbar d-flex">
  <a class="navbar-brand"
     routerLink="/credits">
    Angular - NGRX / {{ (config$ | async)?.adminName }}
  </a>
  <div class="d-flex justify-content-end">
    <ul class="d-flex navbar-nav flex-row align-items-center">
      <li class="nav-item">
        <a routerLink="/users"
           routerLinkActive="active">Users</a>
      </li>
    </ul>
  </div>
</nav>
<p> divider</p>
<div class="container app-container">
  <router-outlet></router-outlet>
</div>


